<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Sampling studio masr</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css and fonts and icons -->
    <link rel="stylesheet" href="../static/css/index.css" />
    <!-- loading the plotly library from here -->
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
    <!-- including the num.js library -->
    <script src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.15.1/dist/numjs.min.js"></script>
    <!-- including the wave resampled -->
    <script src="https://cdn.jsdelivr.net/npm/wave-resampler"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
  </head>

  <body>
    <div class="page-container">
      <p class="title">Sampling studio</p>
      <!-- option bar at the top -->
      <div class="opt-bar">
        <ul>
          <li>
            <!-- import button -->
            <label for="importSignal" class="import-btn">
              <i class="fa fa-cloud-upload"></i> Import Signal
            </label>
            <input type="file" id="importSignal" />
          </li>
          <li>
            <!-- Save signal button -->
            <a id="download">
              <button type="button" id="saveSignal" class="save-signal-btn">
                Save signal
              </button>
            </a>
          </li>
        </ul>
      </div>
      <!-- middle section containing frame and other buttons -->
      <div class="mid-section">
        <!-- section to the left of the frame -->
        <div id="left-options" class="left-options">
          <!-- Signal mixer section -->
          <div class="optioncontainer">
            <p class="section-title">Signal Mixer</p>
            <!-- Amplitude slider section -->
            <p class="leftheader">Adjust Amplitude</p>
            <input
              type="range"
              id="amp"
              min="1"
              max="15"
              value="5"
              class="slider"
            />
            <p class="value">Value: <span id="ampOutput"></span></p>
            <!--  frequency slider stuff  -->
            <p class="leftheader">Adjust Frequency</p>
            <input
              type="range"
              id="freq"
              min="1"
              max="15"
              value="5"
              class="slider"
            />
            <p class="value">Value: <span id="freqOutput"></span></p>
            <button
              type="button"
              name="button"
              id="addSignalBtn"
              class="add-noise-btn"
            >
              Add Component
            </button>
          </div>

          <!-- Add noise section -->
          <div class="optioncontainer">
            <input
              class="noise-toggle"
              type="checkbox"
              id="noiseToggle"
              onChange="on_change()"
            />
            <label class="section-title" for="noise-toggle"> Enable Noise </label>
            <!-- SNR slider -->
            <div class="add-noise-section" id="add-noise-section">
              <div class="optioncontainer">
                <p class="leftheader" for="snrValue">Adjust SNR value</p>
                <input
                  type="range"
                  id="snrSlider"
                  min="1"
                  max="30"
                  value="5"
                  class="slider"
                />
                <p  class="value">Value: <span id="snrOutput"></span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- this div is the signal frame -->
        <div class="signalframe">
          <div id="plot1" class="myPlot"></div>
          <!-- <div id="plot2" class="myPlot"></div> -->
        </div>
        <!-- section to the right of the frame -->
        <div id="right-options" class="right-options">
          <!-- Sampling rate slider -->
          <div class="optioncontainer">
            <p class="section-title">Sampling</p>
            <p class="leftheader">Adjust Sampling Rate</p>
            <input
              type="range"
              id="samplingRate"
              min="1"
              max="30"
              value="11"
              class="slider"
            />
            <p  class="value">Value: <span id="SROutput"></span></p>
          </div>
          <!-- remove component section -->
          <div class="optioncontainer">
            <p class="section-title">Remove component</p>
            <select id="addedSignals"></select>
            <button
              type="button"
              name="button"
              id="deleteBtn"
              class="add-noise-btn">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- script that handles the actions done on the page -->
    <script src="../static/js/processing.js"></script>
    <script src="../static/js/frame_scripts.js"></script>
  </body>
</html>
