<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Sampling studio masr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css and fonts and icons -->
    <link rel="stylesheet" href="../static/css/index.css">
  </head>

  <body>
  <div class="container">
    <p class="title">Sampling studio</p>
    <div class="opt-bar">

      <ul>
        <li>
          <button type="button" name="add-signal" class="add-signal-btn">Import signal</button>
        </li>
        <li>
          <button type="button" name="save-signal" class="save-signal-btn"> Save signal</button>
        </li>
      </ul>
    </div>
  </div>

  </body>
</html>
