
*{
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", Arial, sans-serif;
}

/* header (button + title) */
  .container {
    width: 100%;
    min-height: 100vh;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 2%;
  }
  .opt-bar {
    padding: 2% 5% 0;
    min-width: 80%;
    height:10%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  ul{
      list-style: none;
  }
  li {
    display: inline-block;
  }
  .title{
    min-width: 20%;
    font-size: 1.5rem;
    display: block;
    padding-top: 2%;
    text-align: center;
    margin-bottom: -3%
  }
  .leftheader{
    min-width: 20%;
    font-size: 1.5rem;
    display: block;
    padding-top: 2%;
    text-align: left;
  }
  .rightheader{
    min-width: 20%;
    font-size: 1.5rem;
    display: block;
    padding-top: 2%;
    text-align: right;
  }
  .add-signal-btn, .save-signal-btn {
    padding: 0.9em;
    margin:0.5em;
    min-width: 100px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
  }


/* signal frams styling */
.mid-section {
  margin-top: 1rem;
  margin-bottom: 1rem
}
.mid-section > div {
  display: table-cell;
}
.left-options {
  padding: 0.5rem;
  text-align: center;
  min-width: 20%;
  max-width: 10%;
  background-color: #eee;
}
.signalframe {
  max-width: 50%;
  min-width: 50%;
  display: flex;
  justify-content: center;
}
.right-options {
  padding: 0.5rem;
  text-align: center;
  min-width: 20%;
  max-width: 10%;
  background-color: #eee;
}
#myPlot {
  max-width: 60%;
  min-width: 100%;
  overflow: hidden;
}

/* Slider styling */
.slidecontainer {
  max-width: 80%;
  min-width: 60%;
  display: block;
  margin: auto;
}
.slider {
  -webkit-appearance: none;
  border-radius: 35px;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
