
*{
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", Arial, sans-serif;
}

/* header (button + title) */
  .page-container {
    width: 100%;
    min-height: 100%;
    padding: 2%;
    box-sizing: border-box;
    overflow: hidden;

    /* background-color: #EEE; */
  }
  .opt-bar {
    padding: 2% 5% 0;
    min-width: 80%;
    height:10%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 25px;
  }
  ul{
      list-style: none;
  }
  li {
    display: inline-block;
  }
  .title{
    min-width: 20%;
    max-height: 1vh;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: -3%
  }
  .leftheader{
    min-width: 20%;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 2%;
    text-align: left;
  }
  .rightheader{
    min-width: 20%;
    font-size: 1.5rem;
    display: block;
    padding-top: 2%;
    text-align: right;
  }
  .add-signal-btn, .save-signal-btn, .add-noise-btn {
    padding: 0.9em;
    margin:0.5em;
    min-width: 100px;
    cursor: pointer;
    border: 5px #EEE;
    border-radius: 5px;
    background-color: #19345D;
    color:white;
  }
  button:hover {
    background-color: #192639;
    color:#eee;
  }

/* signal frame styling */
.mid-section {
  height: 50vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: top;
}
.mid-section > div {
  display: table-cell;
  vertical-align: top;
}
.left-options {
  padding: 0.5rem;
  border-radius: 2rem;
  text-align: center;
  width: 20vw;
  height: 69vh;
  background-color: #eee;
}
.add-noise-section {
  display: none;
  margin-top: 0.8rem;
}
.signalframe {
  min-width: 60vw;
  max-width: 60vw;
  height: 80vh;
  display: flex;
  justify-content: center;
}
.right-options {
  padding: 0.5rem;
  border-radius: 2rem;
  text-align: center;
  width:20vw;
  height: 69vh;
  background-color: #eee;
}
.myPlot {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

/* Slider styling */
input[type="range"] {
-webkit-appearance: none;
}
input[type="range"]:focus {
outline: none;
}
.optioncontainer {
  max-width: 80%;
  min-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}
.slider {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  -webkit-appearance: none;
  border-radius: 35px;
  width: 100%;
  height: 1rem;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #19345D;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #19345D;
  cursor: pointer;
}
